body{
    margin: 0;
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


@font-face {
    font-family: 'MyFont';
    src: url('./fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf');
}

@font-face {
    font-family: 'MyFont2';
    src: url('./fonts/Holigate-Signature/Holligate\ Signature\ Demo.ttf');
}

#container{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow-y: scroll;
}

/* NAVEGATION BAR */

.nav-menu{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: end;
}

.nav-logo{
    padding: 0 50px;
    margin-right: auto;
    height: 70px;
    align-self: center;
}

.page-links{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
    padding-right: 70px;
}

.page-link{
    padding: 50px;
}

/* BOARD */

.board{
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.board-title{
    background: -webkit-radial-gradient(rgba(129,107,27,1), rgba(232,203,97,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'MyFont2';
    font-size: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 40px;
}

/* BOARD - HOME */

.logo-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 50px 0;
}

.princ-logo{
    width: 500px;
}

.subtext{
    font-size: 40px;
    color: white;
    font-family: 'MyFont';
    width: 50%;
    padding-right: 20px;
}

/* BOARD - HOURS BOARD */


.hours-cont{
    margin: 10px 200px;
    background-color: rgba(0, 0, 0, 0.6);
    border-width: 3px;
    border-style: solid; 
    border-image: linear-gradient(90deg, rgba(129,107,27,1) 0%, rgba(232,203,97,1) 35%, rgba(129,107,27,1) 100%) 1;
}

.hours-title{
    font-family: 'MyFont';
    font-size: 30px;
    color: white;
    padding: 20px 30px 10px 30px;
    text-align: center;
}

.hours-list{
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.hour{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: white;
    font-family: 'MyFont';
    font-size: 30px;
}

/* MENU */

.dessert{
    margin: 50px;
    display: flex;
    padding: 50px;
    border-width: 3px;
    border-style: solid; 
    border-image: linear-gradient(90deg, rgba(129,107,27,1) 0%, rgba(232,203,97,1) 35%, rgba(129,107,27,1) 100%) 1;
    background-color: rgba(0, 0, 0, 0.6);
    gap: 40px;
}

.dessert-img{
    height: 300px;
    border-width: 3px;
    border-style: solid; 
    border-image: linear-gradient(90deg, rgba(129,107,27,1) 0%, rgba(232,203,97,1) 35%, rgba(129,107,27,1) 100%) 1;
}

.dessert-info{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'MyFont';
    font-size: 40px;
    gap: 20px;
}

.dessert:nth-of-type(even){
    flex-direction: row-reverse;
}
