body{
    margin: 0;
}

#container{
    background-image: url("images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.board{
    width: 60vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}

.subtitle{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.nav-menu{
    height: 100px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: end;
}

.nav-logo{
    padding: 0 50px;
    margin-right: auto;
    height: 70px;
    align-self: center;
}

.page-links{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
    padding-right: 70px;
}

.page-link{
    padding: 50px;
}